body {
  background-image: url('/static/images/restaurant.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.cat {
 height: 10px;
 width: 10px;
}

img {
 max-width: 100%;
 max-height: 100%;
}

#profileImage {
  max-width:5%;
  max-height:5%;
}
