#buttonStyle{
    background-color: #2FA4FF
}

#containerStyle{
    margin-top:5%;
    width: 30%;
    text-align: center;
}

#h2Style{
    margin-top: 2%;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    color:red;
}

#buttonFont{
    color:#FFFFFF;
}

.logo{
    top: 10px;
    left:80px;
    height:150px;
    width:150px;
}