#buttonStyle{
    background-color: #2FA4FF
}

#containerStyle{
    margin-top:5%;
    width: 30%;
    text-align: center;
}

#h2Style{
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color:red;
}

#h3Style{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color:red;
}

#buttonFont{
    color:#FFFFFF;
}

.logo{
    top: 10px;
    left:80px;
    height:150px;
    width:150px;
}

.adjustText{
    text-align: left;
}