{% extends 'finder/base.html' %}
{% load static %}

{% block title_block %}
    {{ restaurant.r_name}}
{% endblock %}

{% block body_block %}
    <div class="container", id="containerStyle">
        {% if restaurant %}
            <i class="bi-arrow-through-heart-fill", id="doubleHeart"></i>
            <i id="restaurantName">{{ restaurant.r_name }}</i>
            <br>
            <br>
            <div class="row">
                <div class="col">
                    <i class="bi-house-heart-fill", id="subtitleIcon"></i>
                    <i id="overallFont">Photo</i> <br>
                    <img class="square" src="{{ MEDIA_URL }}{{ restaurant.photo }}"/>

                    <br>
                    <br>
                    <i class="bi-bookmark-heart-fill", id="subtitleIcon"></i>
                    <i id="overallFont">Menu</i> <br>
                    <style>
                        .max{
                            width:100%;
                            height:100%;
                        }
                        .min{
                            width:500px;
                            height:500px;
                            object-fit: cover;}
                    </style>

                    <script>
                        $(function(){
                            $('#img').click(function(){
                                $(this).toggleClass('min');
                                $(this).toggleClass('max');
                            });
                        });
                    </script>
                    <img id='img' class='min' src='{{ MEDIA_URL }}{{ restaurant.menu }}'>
                </div>
                <div class="col">
                    <i class="bi-map-fill", id="subtitleIcon"></i>
                    <i id="overallFont">Map</i> <br>
                    <img class="square" src="{{ MEDIA_URL }}{{ fafsdfsa }}"/>
                    <br>
                    <br>

                    <i class="bi-bullseye", id="subtitleIcon"></i>
                    <i id="overallFont">Information</i> <br><br><br>
                    <i class="bi-pin-map", id="inforIcon"></i>
                    <i id="inforStyle">Address:  {{ restaurant.address }} </i><br><br>
                    <i class="bi-pin", id="inforIcon"></i>
                    <i id="inforStyle">Postcode:  {{ restaurant.postcode }} </i><br><br>
                    <i class="bi-phone", id="inforIcon"></i>
                    <i id="inforStyle">Phone Number:  {{ restaurant.r_phone_num }} </i><br><br>
                    <i class="bi-envelope", id="inforIcon"></i>
                    <i id="inforStyle">E-mail:  {{ restaurant.r_email }} </i><br><br>
                    <i class="bi-book-half", id="inforIcon"></i>
                    <i id="inforStyle">Category:  {{ restaurant.category }} </i><br><br>
                </div>
            </div>

            <ul>
                <li> overall rate: {{ restaurant.overall_rate }}</li>
            </ul>
            {% if comments %}
                <i class="bi-card-list", id="subtitleIcon"></i>
                <i id="overallFont">Comments</i> <br>
                <div id="commentSession">
                    <div class="container">
                        {% for comment in comments %}
                            <div class="row", id="commentSession">
                                <div class="col-2"> {{ comment.user_id }} </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            Rate: {{ comment.rate }}
                                        </div>
                                        <div class="col", id="datetimeStyle">
                                            Posted On {{ comment.date }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {{ comment.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <strong> There is no comments yet!</strong>
            {% endif %}
                <i class="bi-pencil-square", id="subtitleIcon"></i>
                <i id="overallFont">Make Your Own Comment!</i> <br><br>
                <form id="comment_form" method="post" action="/finder/restaurant/{{ restaurant.slug }}/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                        <i id="inforStyle">Rate:</i>
                        {{ form.rate }}
                        <br><br>
                        <i id="inforStyle">Comment:</i>
                        {{ form.content }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input class="btn btn-primary" type="submit" name="submit" value="Submit"/>
                    </div>
                </form>
        {% else %}
            <strong> There is no restaurant information!</strong>
        {% endif %}
        <br><br>
    </div>
{% endblock %}