{% extends 'finder/base.html' %}
{% load static %}

{% block title_block %}
    {{ restaurant.r_name}}
{% endblock %}

{% block body_block %}
    <div class="container">
        {% if restaurant %}
            <div class="row">
                <div class="col-10">
                    <i class="bi-arrow-through-heart-fill" id="doubleHeart"></i>
                    <i id="restaurantName">{{ restaurant.r_name }}</i>
                    <div>
                        <span class="fa fa-star fa-2x" id="firstStar"></span>
                        <span class="fa fa-star fa-2x" id="secondStar"></span>
                        <span class="fa fa-star fa-2x" id="thirdStar"></span>
                        <span class="fa fa-star fa-2x" id="fourthStar"></span>
                        <span class="fa fa-star fa-2x" id="fifthStar"></span>
                        <span id="overallRate" hidden>{{restaurant.overall_rate }}</span>
                        <span id="overallFont" >{{restaurant.overall_rate }}</span>
                    </div>
                </div>
                <div class="col-1">
                    <p id="copy" hidden>{{ request.build_absolute_uri }}</p>
                    <button  onclick="copy_r_link('#copy')" id="copyButton">Click to Share</button>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col">
                    <i class="bi-house-heart-fill" id="subtitleIcon"></i>
                    <i id="overallFont">Photo</i> <br>
                    <img class="square" src="{{ MEDIA_URL }}{{ restaurant.photo }}" alt="menu"/>
                    <br>
                    <br>
                    <i class="bi-bookmark-heart-fill" id="subtitleIcon"></i>
                    <i id="overallFont">Menu</i> <br>
                    <style>
                        .max{
                            width:100%;
                            height:100%;
                        }
                        .min{
                            width:500px;
                            height:325px;
                            object-fit: cover;}
                    </style>
                    <div>
                        <img id='menu' class='min' src='{{ MEDIA_URL }}{{ restaurant.menu }}' alt="menu">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <i class="bi-bullseye" id="subtitleIcon"></i>
                        <i id="overallFont">Information</i> <br><br><br>
                        <i class="bi-pin-map" id="inforIcon"></i>
                        <i id="inforStyle">Address:  {{ restaurant.address }} </i><br><br>
                        <i class="bi-pin" id="inforIcon"></i>
                        <i id="inforStyle">Postcode:  {{ restaurant.postcode }} </i><br><br>
                        <i class="bi-phone" id="inforIcon"></i>
                        <i id="inforStyle">Phone Number:  {{ restaurant.r_phone_num }} </i><br><br>
                        <i class="bi-envelope" id="inforIcon"></i>
                        <i id="inforStyle">E-mail:  {{ restaurant.r_email }} </i><br><br>
                        <i class="bi-book-half" id="inforIcon"></i>
                        <i id="inforStyle">Category:  {{ restaurant.category }} </i><br><br>
                    </div>
                    <br>
                    <div>
                        <i class="bi-map-fill" id="subtitleIcon"></i>
                        <i id="overallFont">Map</i> <br>
                        <p id="lat" hidden> {{ restaurant.lat }}</p>
                        <p id="lng" hidden> {{ restaurant.lng }}</p>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
            {% if comments %}
                <i class="bi-card-list" id="subtitleIcon"></i>
                <i id="overallFont">Comments</i> <br>
                <div id="commentSession">
                    <div class="container">
                        {% for comment in comments %}
                            <span id="allComments" hidden>{{ comments }} </span>
                            <div class="row" id="commentSession">
                                <div class="col-2">
                                    <div class="commentUserProfile">
                                        <img class="square"  src="{{ MEDIA_URL }}{{ comment.userprofile.picture }}" alt="user_picture"/>
                                    </div>
                                    <div> {{ comment.userprofile.user.username }} </div>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <span>Rate: </span>
                                        <div class="col stars">
                                            <span class="fa fa-star fa-1x" id="c_first"></span>
                                            <span class="fa fa-star fa-1x" id="c_second"></span>
                                            <span class="fa fa-star fa-1x" id="c_third"></span>
                                            <span class="fa fa-star fa-1x" id="c_fourth"></span>
                                            <span class="fa fa-star fa-1x" id="c_fifth"></span>
                                            <span class="rate" id="commentRate" hidden>{{ comment.rate }}</span>
                                        </div>
                                        <div class="col text-right" id="datetimeStyle">
                                            Posted On {{ comment.date }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {{ comment.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <i class="bi-card-list" id="subtitleIcon"></i>
                <i id="overallFont">Comments</i> <br>
                <div id="commentSession">
                    <div class="container">
                        <div class="row justify-content-center">
                            <strong id="noComment">There is no comments yet!</strong>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                </div>
                    <i class="bi-pencil-square" id="subtitleIcon"></i>
                    <i id="overallFont">Make Your Own Comment!</i>
                    <div>
                        <form id="comment_form" method="post" action="{% url "finder:show_restaurant"  restaurant.slug %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div id="inforStyle">
                                <div>Rate:</div>
                            {% for radio in form.rate %}
                                <label for="{{ radio.id_for_label }}">
                                    <div class="starRate">
                                        <span class="radio">{{ radio.tag }}</span>
                                        <span class="fa fa-star c" id="c_first"></span>
                                        <span class="fa fa-star c" id="c_second"></span>
                                        <span class="fa fa-star c" id="c_third"></span>
                                        <span class="fa fa-star c" id="c_fourth"></span>
                                        <span class="fa fa-star c" id="c_fifth"></span>
                                        <span class="label" id="choiceLabel" hidden>{{ radio.choice_label }}</span>
                                    </div>
                                </label>
                                <br>
                            {% endfor %}
                            </div>
                            <i id="inforStyle">Comment:</i>
                                {{ form.content }}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input class="btn btn-primary" type="submit" name="submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
            {% endif %}
        {% else %}
            <strong> There is no restaurant information!</strong>
        {% endif %}
        <br><br>
    </div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU6qIYO9eesJ9BbEfA0De1FvMr_vVTBSE&callback=initMap&v=weekly"
      async
    ></script>
{% endblock %}