{% extends 'finder/base.html' %}
{% load static %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <div class="container" id="searchContainer">
        
        <form id="search_form" method="post" action="{% url 'finder:searchResult' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-9"><input id="searchBar" name="keyword" type="search" class="form-control" placeholder="Type restaurant name or location..." aria-label="Search"></div>
                <div class="col-1" id="searchButton"><button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button></div>
            </div>
        </form>
    </div>
    <div id="restaurantsContainer">
        <div class="row" id="restaurantsRow">
            <div class="col text-center">
                <div class="container" id="boxHeader">
                    <div class="row">
                        <i class="fa fa-cutlery" id="restaurantIcon"></i>
                        Top Rated Restaurants
                    </div>
                </div>
                <div class="container" id="listContainer">
                    <ul>
                        {% for restaurant in restaurants %}
                            <li>
                                <div class="row">
                                    <div class="col">
                                        <a href="/finder/restaurant/{{ restaurant.slug }}/">{{ restaurant.r_name }}</a>
                                    </div>
                                    <div class="col" id="stars">
                                        <span class="fa fa-star fa-1x" id="c_first"></span>
                                        <span class="fa fa-star fa-1x" id="c_second"></span>
                                        <span class="fa fa-star fa-1x" id="c_third"></span>
                                        <span class="fa fa-star fa-1x" id="c_fourth"></span>
                                        <span class="fa fa-star fa-1x" id="c_fifth"></span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
              
              <div class="col text-center">
                <div class="container" id="boxHeader">
                    <div class="row">
                        <i class="fa fa-cutlery" id="restaurantIcon"></i>
                        Restaurant Categories
                    </div>
                </div>
                <div class="container" id="listContainer">
                    <ul>
                        {% for category in categories %}
                            <li>
                                <div class="col">
                                    {{ category.category }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>

{% endblock %}




